In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [2]:
games = spark.read.format("csv").option("header", "true").load("all_games.csv")
games.createOrReplaceTempView("video_games")
display(games)

DataFrame[name: string, platform: string, release_date: string, meta_score: string, user_review: string]

In [5]:
spark.sql('SELECT * FROM video_games').show()

+--------------------+--------------+------------+----------+-----------+
|                name|      platform|release_date|meta_score|user_review|
+--------------------+--------------+------------+----------+-----------+
|The Legend of Zel...|   Nintendo 64|   23-Nov-98|        99|        9.1|
|Tony Hawk's Pro S...|   PlayStation|   20-Sep-00|        98|        7.4|
| Grand Theft Auto IV| PlayStation 3|   29-Apr-08|        98|        7.7|
|         SoulCalibur|     Dreamcast|    8-Sep-99|        98|        8.4|
| Grand Theft Auto IV|      Xbox 360|   29-Apr-08|        98|        7.9|
|  Super Mario Galaxy|           Wii|   12-Nov-07|        97|        9.1|
|Super Mario Galaxy 2|           Wii|   23-May-10|        97|        9.1|
|Red Dead Redempti...|      Xbox One|   26-Oct-18|        97|          8|
|  Grand Theft Auto V|      Xbox One|   18-Nov-14|        97|        7.9|
|  Grand Theft Auto V| PlayStation 3|   17-Sep-13|        97|        8.3|
|Disco Elysium: Th...|            PC|   30-Mar-21|        97|        8.3|
|  Grand Theft Auto V|      Xbox 360|   17-Sep-13|        97|        8.3|
|Tony Hawk's Pro S...|     Dreamcast|    6-Nov-00|        97|        6.2|
|The Legend of Zel...|        Switch|    3-Mar-17|        97|        8.7|
|Tony Hawk's Pro S...| PlayStation 2|   28-Oct-01|        97|        7.5|
|        Perfect Dark|   Nintendo 64|   22-May-00|        97|        8.8|
|Red Dead Redempti...| PlayStation 4|   26-Oct-18|        97|        8.5|
|  Grand Theft Auto V| PlayStation 4|   18-Nov-14|        97|        8.4|
|       Metroid Prime|      GameCube|   17-Nov-02|        97|        8.6|
|Grand Theft Auto III| PlayStation 2|   22-Oct-01|        97|        8.4|
+--------------------+--------------+------------+----------+-----------+
only showing top 20 rows

In [27]:
spark.sql("CREATE DATABASE IF NOT EXISTS vg")

DataFrame[]

In [33]:
switch = spark.sql("SELECT name, platform, user_review FROM video_games WHERE platform LIKE ' Switch';")
switch.show()
avg = spark.sql("SELECT AVG(user_review) AS avg FROM video_games WHERE user_review > 0 AND user_review < 10")
avg.show()

+--------------------+--------+-----------+
|                name|platform|user_review|
+--------------------+--------+-----------+
|The Legend of Zel...|  Switch|        8.7|
| Super Mario Odyssey|  Switch|        8.9|
|The House in Fata...|  Switch|        8.2|
|Tetris Effect: Co...|  Switch|        8.5|
|               Hades|  Switch|          9|
|Divinity: Origina...|  Switch|        8.5|
|Ori and the Will ...|  Switch|        8.7|
|           Undertale|  Switch|        8.2|
|Super Smash Bros....|  Switch|        8.6|
|             Celeste|  Switch|        8.6|
|         Bayonetta 2|  Switch|        8.5|
| Mario Kart 8 Deluxe|  Switch|        8.6|
|              INSIDE|  Switch|        8.6|
|Dragon Quest XI S...|  Switch|        8.9|
|    Sonic Mania Plus|  Switch|        8.1|
|SteamWorld Heist:...|  Switch|        8.3|
|Shovel Knight: Tr...|  Switch|        8.2|
|Animal Crossing: ...|  Switch|        5.5|
|Ori and the Blind...|  Switch|        8.6|
|             Bastion|  Switch|        7.7|
+--------------------+--------+-----------+
only showing top 20 rows

+---------------+
|            avg|
+---------------+
|6.9941352002755|
+---------------+

In [24]:
january = spark.sql("SELECT COUNT(name) AS January FROM video_games WHERE CONTAINS(release_date, 'Jan') AND user_review > 9.0")
february = spark.sql("SELECT COUNT(name) AS February FROM video_games WHERE CONTAINS(release_date, 'Feb') AND user_review > 9.0")
march = spark.sql("SELECT COUNT(name) AS March FROM video_games WHERE CONTAINS(release_date, 'Mar') AND user_review > 9.0")
april = spark.sql("SELECT COUNT(name) AS April FROM video_games WHERE CONTAINS(release_date, 'Apr') AND user_review > 9.0")
may = spark.sql("SELECT COUNT(name) AS May FROM video_games WHERE CONTAINS(release_date, 'May') AND user_review > 9.0")
june = spark.sql("SELECT COUNT(name) AS June FROM video_games WHERE CONTAINS(release_date, 'Jun') AND user_review > 9.0")
july = spark.sql("SELECT COUNT(name) AS July FROM video_games WHERE CONTAINS(release_date, 'Jul') AND user_review > 9.0")
august = spark.sql("SELECT COUNT(name) AS August FROM video_games WHERE CONTAINS(release_date, 'Aug') AND user_review > 9.0")
september = spark.sql("SELECT COUNT(name) AS September FROM video_games WHERE CONTAINS(release_date, 'Sep') AND user_review > 9.0")
october = spark.sql("SELECT COUNT(name) AS October FROM video_games WHERE CONTAINS(release_date, 'Oct') AND user_review > 9.0")
november = spark.sql("SELECT COUNT(name) AS November FROM video_games WHERE CONTAINS(release_date, 'Nov') AND user_review > 9.0")
december = spark.sql("SELECT COUNT(name) AS December FROM video_games WHERE CONTAINS(release_date, 'Dec') AND user_review > 9.0")
january.show()
february.show()
march.show()
april.show()
may.show()
june.show()
july.show()
august.show()
september.show()
october.show()
november.show()
december.show()

+-------+
|January|
+-------+
|      5|
+-------+

+--------+
|February|
+--------+
|       0|
+--------+

None None
+-------+
|January|
+-------+
|      5|
+-------+

+--------+
|February|
+--------+
|       0|
+--------+

+-----+
|March|
+-----+
|   10|
+-----+

+-----+
|April|
+-----+
|    6|
+-----+

+---+
|May|
+---+
|  9|
+---+

+----+
|June|
+----+
|   4|
+----+

+----+
|July|
+----+
|   9|
+----+

+------+
|August|
+------+
|     6|
+------+

+---------+
|September|
+---------+
|       10|
+---------+

+-------+
|October|
+-------+
|     19|
+-------+

+--------+
|November|
+--------+
|      12|
+--------+

+--------+
|December|
+--------+
|       4|
+--------+